/* mini reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-grey {
    color: #69696b;
    font-weight: normal;
    font-weight: 400;
}

.very-dark-grey {
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/background-position */
    background-position: right 50vw bottom 40vh, left 50vw top 40vh;
}

main {
    display: flex;
    justify-content: center;
}

main .card {
    margin-top: 10rem;
    z-index: 1;
    border-radius: .9rem;
    width: 310px;
    box-shadow: 0 30px 100px 25px #4f8e99;
}

.card .card-header {
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    background-image: url(../images/bg-pattern-card.svg);
    background-size: cover;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

main .card-header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: -2.6rem;
}

main .card-body {
    background-color: #fff;
    border-bottom-left-radius: .9rem;
    border-bottom-right-radius: .9rem;
}

main .card-body .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

main .card-body .info p {
    margin-top: 0.5rem;
    font-size: 0.7rem;
}

main .card-body .social {
    border-top: 1px solid rgba(211, 211, 211, 0.61);
    padding: 1.5rem 2rem;
    margin-top: 1.1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

main .card-body .social div {
    width: 52px;
}

main .card-body .social p {
    font-size: 0.6rem;
    margin-top: 0.5rem;
    letter-spacing: 1px;
}